#interactive-cursor {
	position: fixed;
	text-align: center;
	width: 80px;
	height: 80px;
	z-index: 1000;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	pointer-events: none;
	z-index: 99999;
}

#interactive-cursor .cursor-label {
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .14384615em;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: 1;
	color: #FFF;
	z-index: 99999;
}

#interactive-cursor .cursor-icon {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: block;
	left: 0;
	top: 0;
	background: #000;
	width: 80px;
	height: 80px;
	transition: .3s ease-in-out;
	border-radius: 100%;
	transform: scale(.15);
	z-index: 99999;
}

#interactive-cursor.is-large .cursor-icon {
	transform: scale(1);
}

#interactive-cursor.is-medium .cursor-icon {
	transform: scale(.475);
}

#interactive-cursor.is-medium .cursor-label {
	top: -30px;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	color: #000
}

#interactive-cursor.is-small .cursor-label {
	top: -15px;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	color: #000
}