html, body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}

html * {
	box-sizing: border-box;
}

html.no-cursor,
html.no-cursor body,
html.no-cursor [data-cursor-type] {
	cursor: none !important;
}

h1 {
	position: relative;
	text-align: center;
	font-size: 48px;
	letter-spacing: -5px;
	font-weight: bold;
	margin: 48px 0;
}

h1 span {
	position: absolute;
	font-size: 13px;
	letter-spacing: 0;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%);
}

p {
	width: 400px;
	padding: 24px;
	display: table;
	margin: 0 auto;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

h2 {
	position: relative;
	text-align: center;
	font-size: 32px;
	letter-spacing: -3px;
	font-weight: bold;
	margin: 48px 0 24px;
}

#wrapper {
	display: table;
	margin: 0 auto;
	width: 720px;
	text-align: center;
	padding: 24px;
}

.box {
	padding: 24px; 
	margin: 24px 0; 
	width: 100%; 
	display: table; 
	border: 1px solid rgb(228, 214, 231);
	background: rgb(247, 242, 248);
}